.search-box {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;

  .search-box-form-field {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
}

.content {
  .no-results-found {
    display: flex;
    justify-content: center;
    padding: 100px;
  }

  app-book-card-view {
    padding: 5px;
    display: block;
    height: 100%;
  }
}

